.controls {
	background-color: lightgray;
	max-width: 640px;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	opacity: 0.5;
}

.controls-title {
	background-color: blue;
	border: 2px solid black;
	border-top-color: white;
	border-right-color: white;
	color: white;
	font-weight: bold;
	padding: .5rem;
	text-align: center;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 5;
}

.controls-group {
	border: 1px solid black;
	margin: 1rem;
	padding: .5rem;
	grid-column-start: 1;
	grid-column-end: 5;
}

.controls-heading {
	background-color: lightgray;
	display: inline-block;
	margin-bottom: -.5rem;
	padding: 0 .25em;
	position: relative;
	top: -.8em;
	width: auto;
}

.controls-list {
	display: flex;
	gap: 1rem;
}

.controls-slide-labels {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.controls-slide {
	width: 100%;
}
