@import './libs/reset';

html {
	font-size: 16px;
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 1rem;
}

.the-void {
	background-color: black;
	overflow: hidden;
	position: relative;
	height: 100vh;
	width: 100%;
}

// .starpoint {
// 	/* background-color: #f0f; */
// 	height: 1px;
// 	width: 1px;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%);
// }

// .star {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// }



.the-void.graphic--windows {

	.star {
		height: 86px;
		width: 71px;
	}

}



.the-void.graphic--stars {

	.star {
		background-color: white;
		height: 3px;
		width: 3px;

		svg {
			display: none;
			visibility: hidden;
		}
	}

}
